definitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Salesforce.com Metadata XSD for API version 42.0

Copyright 2006-2017 Salesforce.com, inc. All Rights Reserved
-->
<xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/2006/04/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.sforce.com/2006/04/metadata">
 <xsd:element name="AccountSettings" type="tns:AccountSettings"/>
 <xsd:element name="AccountSharingRules" type="tns:AccountSharingRules"/>
 <xsd:element name="ActionLinkGroupTemplate" type="tns:ActionLinkGroupTemplate"/>
 <xsd:element name="ActivitiesSettings" type="tns:ActivitiesSettings"/>
 <xsd:element name="AddressSettings" type="tns:AddressSettings"/>
 <xsd:element name="AnalyticSnapshot" type="tns:AnalyticSnapshot"/>
 <xsd:element name="ApexClass" type="tns:ApexClass"/>
 <xsd:element name="ApexComponent" type="tns:ApexComponent"/>
 <xsd:element name="ApexPage" type="tns:ApexPage"/>
 <xsd:element name="ApexTestSuite" type="tns:ApexTestSuite"/>
 <xsd:element name="ApexTrigger" type="tns:ApexTrigger"/>
 <xsd:element name="AppMenu" type="tns:AppMenu"/>
 <xsd:element name="ApprovalProcess" type="tns:ApprovalProcess"/>
 <xsd:element name="AssignmentRules" type="tns:AssignmentRules"/>
 <xsd:element name="AssistantRecommendationType" type="tns:AssistantRecommendationType"/>
 <xsd:element name="AuraDefinitionBundle" type="tns:AuraDefinitionBundle"/>
 <xsd:element name="AuthProvider" type="tns:AuthProvider"/>
 <xsd:element name="AutoResponseRules" type="tns:AutoResponseRules"/>
 <xsd:element name="BrandingSet" type="tns:BrandingSet"/>
 <xsd:element name="BusinessHoursSettings" type="tns:BusinessHoursSettings"/>
 <xsd:element name="CallCenter" type="tns:CallCenter"/>
 <xsd:element name="CaseSettings" type="tns:CaseSettings"/>
 <xsd:element name="CaseSharingRules" type="tns:CaseSharingRules"/>
 <xsd:element name="CaseSubjectParticle" type="tns:CaseSubjectParticle"/>
 <xsd:element name="Certificate" type="tns:Certificate"/>
 <xsd:element name="ChannelLayout" type="tns:ChannelLayout"/>
 <xsd:element name="ChatterAnswersSettings" type="tns:ChatterAnswersSettings"/>
 <xsd:element name="ChatterExtension" type="tns:ChatterExtension"/>
 <xsd:element name="CleanDataService" type="tns:CleanDataService"/>
 <xsd:element name="Community" type="tns:Community"/>
 <xsd:element name="CommunityTemplateDefinition" type="tns:CommunityTemplateDefinition"/>
 <xsd:element name="CommunityThemeDefinition" type="tns:CommunityThemeDefinition"/>
 <xsd:element name="CompanySettings" type="tns:CompanySettings"/>
 <xsd:element name="ConnectedApp" type="tns:ConnectedApp"/>
 <xsd:element name="ContactSharingRules" type="tns:ContactSharingRules"/>
 <xsd:element name="ContentAsset" type="tns:ContentAsset"/>
 <xsd:element name="ContractSettings" type="tns:ContractSettings"/>
 <xsd:element name="CorsWhitelistOrigin" type="tns:CorsWhitelistOrigin"/>
 <xsd:element name="CspTrustedSite" type="tns:CspTrustedSite"/>
 <xsd:element name="CustomApplication" type="tns:CustomApplication"/>
 <xsd:element name="CustomApplicationComponent" type="tns:CustomApplicationComponent"/>
 <xsd:element name="CustomFeedFilter" type="tns:CustomFeedFilter"/>
 <xsd:element name="CustomLabels" type="tns:CustomLabels"/>
 <xsd:element name="CustomMetadata" type="tns:CustomMetadata"/>
 <xsd:element name="CustomObject" type="tns:CustomObject"/>
 <xsd:element name="CustomObjectSharingRules" type="tns:CustomObjectSharingRules"/>
 <xsd:element name="CustomObjectTranslation" type="tns:CustomObjectTranslation"/>
 <xsd:element name="CustomPageWebLink" type="tns:CustomPageWebLink"/>
 <xsd:element name="CustomPermission" type="tns:CustomPermission"/>
 <xsd:element name="CustomSite" type="tns:CustomSite"/>
 <xsd:element name="CustomTab" type="tns:CustomTab"/>
 <xsd:element name="Dashboard" type="tns:Dashboard"/>
 <xsd:element name="DashboardFolder" type="tns:DashboardFolder"/>
 <xsd:element name="DataCategoryGroup" type="tns:DataCategoryGroup"/>
 <xsd:element name="DataPipeline" type="tns:DataPipeline"/>
 <xsd:element name="DelegateGroup" type="tns:DelegateGroup"/>
 <xsd:element name="Document" type="tns:Document"/>
 <xsd:element name="DocumentFolder" type="tns:DocumentFolder"/>
 <xsd:element name="DuplicateRule" type="tns:DuplicateRule"/>
 <xsd:element name="EclairGeoData" type="tns:EclairGeoData"/>
 <xsd:element name="EmailFolder" type="tns:EmailFolder"/>
 <xsd:element name="EmailServicesFunction" type="tns:EmailServicesFunction"/>
 <xsd:element name="EmailTemplate" type="tns:EmailTemplate"/>
 <xsd:element name="EmbeddedServiceBranding" type="tns:EmbeddedServiceBranding"/>
 <xsd:element name="EmbeddedServiceConfig" type="tns:EmbeddedServiceConfig"/>
 <xsd:element name="EntitlementSettings" type="tns:EntitlementSettings"/>
 <xsd:element name="EscalationRules" type="tns:EscalationRules"/>
 <xsd:element name="ExternalDataSource" type="tns:ExternalDataSource"/>
 <xsd:element name="ExternalServiceRegistration" type="tns:ExternalServiceRegistration"/>
 <xsd:element name="FeatureParameterBoolean" type="tns:FeatureParameterBoolean"/>
 <xsd:element name="FeatureParameterDate" type="tns:FeatureParameterDate"/>
 <xsd:element name="FeatureParameterInteger" type="tns:FeatureParameterInteger"/>
 <xsd:element name="FileUploadAndDownloadSecuritySettings" type="tns:FileUploadAndDownloadSecuritySettings"/>
 <xsd:element name="FlexiPage" type="tns:FlexiPage"/>
 <xsd:element name="Flow" type="tns:Flow"/>
 <xsd:element name="FlowDefinition" type="tns:FlowDefinition"/>
 <xsd:element name="ForecastingSettings" type="tns:ForecastingSettings"/>
 <xsd:element name="GlobalPicklist" type="tns:GlobalPicklist"/>
 <xsd:element name="GlobalValueSet" type="tns:GlobalValueSet"/>
 <xsd:element name="GlobalValueSetTranslation" type="tns:GlobalValueSetTranslation"/>
 <xsd:element name="Group" type="tns:Group"/>
 <xsd:element name="HomePageComponent" type="tns:HomePageComponent"/>
 <xsd:element name="HomePageLayout" type="tns:HomePageLayout"/>
 <xsd:element name="IdeasSettings" type="tns:IdeasSettings"/>
 <xsd:element name="InstalledPackage" type="tns:InstalledPackage"/>
 <xsd:element name="KeywordList" type="tns:KeywordList"/>
 <xsd:element name="KnowledgeSettings" type="tns:KnowledgeSettings"/>
 <xsd:element name="Layout" type="tns:Layout"/>
 <xsd:element name="LeadConvertSettings" type="tns:LeadConvertSettings"/>
 <xsd:element name="LeadSharingRules" type="tns:LeadSharingRules"/>
 <xsd:element name="Letterhead" type="tns:Letterhead"/>
 <xsd:element name="LightningComponentBundle" type="tns:LightningComponentBundle"/>
 <xsd:element name="LightningExperienceTheme" type="tns:LightningExperienceTheme"/>
 <xsd:element name="LiveAgentSettings" type="tns:LiveAgentSettings"/>
 <xsd:element name="MacroSettings" type="tns:MacroSettings"/>
 <xsd:element name="ManagedTopics" type="tns:ManagedTopics"/>
 <xsd:element name="MatchingRules" type="tns:MatchingRules"/>
 <xsd:element name="MobileSettings" type="tns:MobileSettings"/>
 <xsd:element name="ModerationRule" type="tns:ModerationRule"/>
 <xsd:element name="NameSettings" type="tns:NameSettings"/>
 <xsd:element name="NamedCredential" type="tns:NamedCredential"/>
 <xsd:element name="Network" type="tns:Network"/>
 <xsd:element name="NetworkBranding" type="tns:NetworkBranding"/>
 <xsd:element name="OmniChannelSettings" type="tns:OmniChannelSettings"/>
 <xsd:element name="OpportunitySettings" type="tns:OpportunitySettings"/>
 <xsd:element name="OpportunitySharingRules" type="tns:OpportunitySharingRules"/>
 <xsd:element name="OrderSettings" type="tns:OrderSettings"/>
 <xsd:element name="OrgPreferenceSettings" type="tns:OrgPreferenceSettings"/>
 <xsd:element name="Package" type="tns:Package"/>
 <xsd:element name="PathAssistant" type="tns:PathAssistant"/>
 <xsd:element name="PathAssistantSettings" type="tns:PathAssistantSettings"/>
 <xsd:element name="PermissionSet" type="tns:PermissionSet"/>
 <xsd:element name="PersonalJourneySettings" type="tns:PersonalJourneySettings"/>
 <xsd:element name="PlatformCachePartition" type="tns:PlatformCachePartition"/>
 <xsd:element name="Portal" type="tns:Portal"/>
 <xsd:element name="PostTemplate" type="tns:PostTemplate"/>
 <xsd:element name="ProductSettings" type="tns:ProductSettings"/>
 <xsd:element name="Profile" type="tns:Profile"/>
 <xsd:element name="ProfilePasswordPolicy" type="tns:ProfilePasswordPolicy"/>
 <xsd:element name="ProfileSessionSetting" type="tns:ProfileSessionSetting"/>
 <xsd:element name="Queue" type="tns:Queue"/>
 <xsd:element name="QuickAction" type="tns:QuickAction"/>
 <xsd:element name="QuoteSettings" type="tns:QuoteSettings"/>
 <xsd:element name="RemoteSiteSetting" type="tns:RemoteSiteSetting"/>
 <xsd:element name="Report" type="tns:Report"/>
 <xsd:element name="ReportFolder" type="tns:ReportFolder"/>
 <xsd:element name="ReportType" type="tns:ReportType"/>
 <xsd:element name="Role" type="tns:Role"/>
 <xsd:element name="SamlSsoConfig" type="tns:SamlSsoConfig"/>
 <xsd:element name="Scontrol" type="tns:Scontrol"/>
 <xsd:element name="SearchSettings" type="tns:SearchSettings"/>
 <xsd:element name="SecuritySettings" type="tns:SecuritySettings"/>
 <xsd:element name="SharingRules" type="tns:SharingRules"/>
 <xsd:element name="SharingSet" type="tns:SharingSet"/>
 <xsd:element name="SiteDotCom" type="tns:SiteDotCom"/>
 <xsd:element name="SocialCustomerServiceSettings" type="tns:SocialCustomerServiceSettings"/>
 <xsd:element name="StandardValueSet" type="tns:StandardValueSet"/>
 <xsd:element name="StandardValueSetTranslation" type="tns:StandardValueSetTranslation"/>
 <xsd:element name="StaticResource" type="tns:StaticResource"/>
 <xsd:element name="SynonymDictionary" type="tns:SynonymDictionary"/>
 <xsd:element name="TopicsForObjects" type="tns:TopicsForObjects"/>
 <xsd:element name="TransactionSecurityPolicy" type="tns:TransactionSecurityPolicy"/>
 <xsd:element name="UiPlugin" type="tns:UiPlugin"/>
 <xsd:element name="UserCriteria" type="tns:UserCriteria"/>
 <xsd:element name="UserSharingRules" type="tns:UserSharingRules"/>
 <xsd:element name="WaveApplication" type="tns:WaveApplication"/>
 <xsd:element name="WaveDashboard" type="tns:WaveDashboard"/>
 <xsd:element name="WaveDataflow" type="tns:WaveDataflow"/>
 <xsd:element name="WaveDataset" type="tns:WaveDataset"/>
 <xsd:element name="WaveLens" type="tns:WaveLens"/>
 <xsd:element name="WaveRecipe" type="tns:WaveRecipe"/>
 <xsd:element name="WaveXmd" type="tns:WaveXmd"/>
 <xsd:element name="Workflow" type="tns:Workflow"/>
</xsd:schema>